[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  rbc = rebase --continue
  ap = add -p
  rbi = rebase -i
  prunebranches = !git branch -vv | grep \"origin/.*: gone]\" | awk \"{print \\$1}\" | xargs git branch -d
[user]
	name = Aaron McLeod
	email = aaron.g.mcleod@gmail.com
[core]
	quotepath = false
	editor = /usr/bin/vim
	autocrlf = input
